.techniques {
  width: 80%;
  /*border: 1px solid red;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}
.cards {
  display: grid;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  /*border: 1px solid red;*/
  grid-template-columns: repeat(auto-fill, 240px);
  column-gap: 100px;
 
}

.cards__item {
  width: 240px;
  display: flex;
  flex-direction: column;

  /*border: 1px solid red;*/
}

.cards__image {
  height: 160px;
  width: 160px;
  margin-top: 60px;
  margin-right: 40px;
  margin-bottom: 0;
  margin-left: 40px;
  border-radius: 100px; /* Радиус скругления */
   /*border: 1px solid red;*/
}

.cards__title {
  margin-top: 43px;
  margin-bottom: 16px;
   /*border: 1px solid red;*/
  text-align: center;
}

.cards__description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
    /*border: 1px solid red;*/
}
