/*@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  } 
}*/

/*.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы 
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине 
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент 
  font-family: "Helvetica Neue", Arial, sans-serif; 
 /* border: 5px groove #f2f2f2;
}*/
/*
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции 
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  overflow: hidden;/*скрыть не поместившуюся часть целиком без скролла.*/
  /*border: 1px solid red;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;  
  height: 32px;
  background-image: url("../images/logo_place_header.svg");
}
.logo{ 
  background-repeat: no-repeat;
  z-index: 2;
  width: 183px;
   /*border: 1px solid red;
}*/
/*
.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;  
  display: flex;
  flex-direction: column;
  justify-content: center;

   /*border: 1px solid red;
}

.header__link{
  color:#2f80ed ;
  text-decoration: none;
}
.header__link:hover{
  opacity: 0.6;
  transition: linear;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;

  /*border: 1px solid red;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url("../images/header-image.png");
  background-size: cover;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;

  /*border: 1px solid red;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2f80ed; 
  animation: rotation 20s linear infinite; 

  /*border: 1px solid red;
}*/


/* Description part */
/*
.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
 /*border: 3px solid #f2f2f2; 
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  line-height: 1.2;  высота строки
  font-size: 18px; /*размер шрифта 18px
  font-weight: normal; /*начертание шрифта нормальное

  border: 1px solid red;
}

.two-columns__brief {
  margin-top: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed ;
 /*border: 1px solid red;
}


.two-columns__paragraph{
  margin-top: 0;
  margin-bottom: 30px;
 /* border: 1px solid red;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
 /*border: 1px solid red;
}
.two-columns__span-accent {
  font-weight: bold;
 /*border: 1px solid red;
}
*/

/* techniques part */
/*.techniques{
  width: 80%;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}
.cards{
  display: grid;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  grid-template-columns: repeat(auto-fill,240px);  
  column-gap: 100px;
  row-gap: 100px;
}

.cards__item{
  width: 240px;
  display: flex;
  flex-direction: column;
  
  border: 1px solid red;

}

.cards__image{
  height: 160px;
  width: 160px;
  margin-top: 60px;
  margin-right: 40px;
  margin-bottom: 0;
  margin-left: 40px;
  border-radius: 100px; /* Радиус скругления */
 /* border: 1px solid red;
}

.cards__title{
  margin-top: 43px;
  margin-bottom: 16px;
  border: 1px solid red;
  text-align: center;
}

.cards__description{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid red;
}
/* video part */
/*.video{
  margin-top:100px;
  border: 1px solid red;
  position: relative;
  
}
.video__iframes{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.video__iframe{
  margin-top: 50px;
  margin-right: 20px;
  width: 515px;
  height: 316px;
  margin-bottom: -50px;
  border: 1px solid red;
}*/

/* oakley part */
/*.oakley{
  padding-top: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
  background-color: #f2f2f2;
 /*border: 3px solid #f2f2f2; 

}*/
/* Digits part */
/*
.digits {
  margin-top: 100px;
  margin-bottom: 100px;
 
 /* border: 3px solid #f2f2f2;*/
/*}
.section-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  width: 60%;
  margin-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold; /*начертание шрифта полужирное

  border: 1px solid red;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

 border: 1px solid red;
}

.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  border: 1px solid red;
}

.table__cell {
  width: 250px;
  /*margin-right: auto;
  margin-top: 60px;

  /*border: 1px solid red;
}

.table__heading {
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;

 /*border: 1px solid red;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;

  /*border: 1px solid red;
}*/
/* feynman part */
/*.feynman {
  min-height: 790px;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
 /*border: 1px solid red;
 
}
.feynman__title {
  margin-top: 0;
  width: 648px; 
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold; /*начертание шрифта полужирное
  text-align: center; /*выравнивание текста по центру  
 
  /*border: 1px solid red;
}

.feynman__subtitle {
 line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  margin-top: 70px;
  text-align: center;
  /*width: 450px;
 margin-left: auto;
 margin-right: auto;
 /*border: 1px solid red;
}
.feynman__picture {
  
  position: absolute;
  left: 0px;
  bottom: 0px;
  height:637px ;
  width:867px ; 
 
 
  /*border: 1px solid red;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  top: 50%;
  color: #000000;
  text-decoration: none;
  z-index: 10;
 /*border: 1px solid red;
}
.feynman__link:hover{
  opacity: 0.6;
  transition: linear;
}

/* khan part */
/*.khan{
  width: 80%;
  border: 1px solid red;
  margin-right: auto;
  margin-left: auto;
}

.khan__author{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold; /*начертание шрифта полужирное
}

.khan__quote{
  margin-top: 50px;
  margin-bottom: 36px;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  border: 1px solid red;
}

.khan__quote-author{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid red;
  margin-bottom: 0;
  margin-top: 0;
}

.khan__quote-author-subline{
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 68px;
  border: 1px solid red;
}
.khan__book-container{
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}
.khan__book-pic{
  width: 608px;
  height: 620px;
}
.khan__buy-link{
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color:#2f80ed ;
  text-decoration: none;
  border: 1px solid red;
}
.khan__buy-link:hover{
  opacity: 0.6;
  transition: linear;
}*/

/* kaufman part */
/*.kaufman{
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
 
 /*border: 1px solid red;
}

.section-title_theme_dark{ 
  /*width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold; /*начертание шрифта полужирное
  margin: 90px auto 20px auto ;
  color:#f2f2f2; 

 /*border: 1px solid red;
}
.section-subtitle_theme_dark{
  /*width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
 
  margin-top: 0;
  color:#f2f2f2;

 /*border: 1px solid red;
}

.table_theme_dark{
  margin-bottom: 90px;

  /*border: 1px solid red;
}
.table__cell_theme_dark{
  width: 200px;
  margin-top: 80px;
  z-index: 10;

  color: white;

  /*border: 1px solid red;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;

  z-index: 10;

 /*border: 1px solid red;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;

   /*border: 1px solid red;

}

.kaufman__trianle{
 /* background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  height: 877px;
  width: 877px;
  position: absolute;
  top:0px;
  right:-210px;
  z-index: 1;
  animation: rotation 20s linear infinite;
   /*border: 1px solid red;
}*/

/* resources part */
/*.resources{
  margin-top: 100px;  
}

.resources__logo-zone{
  width: 1100px;
  margin-bottom: 217px;
  border: 1px solid red;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.resources__logo{
  height: 38px;
  width: 270px;

}*/
/* footer part */
/*.footer{
  min-height: 350px;  
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
 
 /* border: 3px solid #f2f2f2;
  border: 1px solid red;
}
.footer__columns{ 
  position: relative;
  display: flex;
  flex-direction: row;   
  justify-content: space-between;
 /* height: 100px;/*откуда брать эту инфу???
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color:#f2f2f2;
  min-height: 250px;

   /*border: 1px solid red;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: 1px solid red;
}

.logo_place_footer{
  height: 35px;  
  background-image: url(../images/logo_place_footer.svg);
  /*width: 183px;
  /*border: 1px solid red;
}

.footer__author{
 /* position: absolute;
  left: 0px;
  bottom: 18px;
 
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;    

  /*border: 1px solid red;
}

.footer__column-heading{
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
 /*border: 1px solid red;

}

.footer__column-links{
    display: flex;
    flex-direction: column; 
    padding-left: 0;
    margin-bottom: 16px;
    margin-left: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal; 
    list-style-type: none;
 /*   border: 1px solid red;  
}

.footer__column-link{
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer__column-link:hover{
  opacity: 0.6;
  transition: linear;
}

.footer__social-icon{ 
  width: 16px;
  height: 16px; 
  margin-right: 10px;
  color:  #f2f2f2;
 
}
.footer__column-link{
  text-decoration: none;
  color: #f2f2f2;
}